body {
  background-color: lightgoldenrodyellow;
}

#box {
  width: 100px;
  height: 100px;
  position: relative;
  animation: boxcolor 2s linear infinite;
}

@keyframes boxcolor {
  0%  {background-color: #ff5555;}
  25% {background-color: #fff665;}
  50% {background-color: #00e21d;}
  75% {background-color: #5c67ff;}
  100% {background-color: #ff5555;}
}

.pool {
  width: 100px;
  border: 0px solid black;
  height: 100px;
  position: fixed;
  animation: pool 0.8s ease;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@keyframes pool {
  0%  {width: 0px; border-width: 30px; height: 0px;}
  75% {opacity: 1;}
  100% {width: 200px; border-width: 0px; height: 200px; opacity: 0;}
}

.trail {
  width: 10px;
  height: 10px;
  position: fixed;
}

#field {
  top: 0px;
  left: 0px;
  width: 100%;
  cursor: pointer;
  height: 100%;
  position: fixed;
}

#lebron {
  width: 200px;
  bottom: 0%;
  position: fixed;
}

#rockstarfreddy {
  left: 200px;
  width: 200px;
  bottom: 0%;
  position: fixed;
}